<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>
<p><%= link_to 'New Tweet', new_tweet_path %></p>
<% if @tweets.empty? %>
    <em>No Tweets Found</em>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Zombie</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @tweets.each do |tweet| %>
            <tr id="tweet_<%= tweet.id %>">
                <td><%= link_to tweet.status, tweet_url(tweet) %></td>
                <td><%= link_to tweet.zombie.name, zombie_path(tweet.zombie_id) %></td>
                <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
                <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
<br>


